<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="dev" class="com.myapp.Dev" autowire="byType" >
		<!-- <property name="computer" ref="lap"/>  Here we are manually wiring the dependencies by referring the name of the dependencies--> 
	</bean>
	
	<bean id="lap" class="com.myapp.Laptop" primary="true"/>
	<bean id="desk" class="com.myapp.Desktop" />

</beans>